<!DOCTYPE html>
<html lang=en>
<head>
  {% include "./__eleventy-tc/head.njk" %}
</head>
<body>
  <header>
    {% include "./__eleventy-tc/header.njk" %}
  </header>
  <content>
    {% include "./__eleventy-tc/content.njk" %}
  </content>
  <footer>
    {% include "./__eleventy-tc/footer.njk" %}
    {% include "./__eleventy-tc/analytics.njk" %}
  </footer>
</body>
</html>
