{% include "../__eleventy-tc/grandiose_statement.njk" %}
{% include "../__eleventy-tc/trusted_logos.njk" %}
{% include "../__eleventy-tc/featured_post.njk" %}
{% include "../__eleventy-tc/latest_posts.njk" %}
{% include "../__eleventy-tc/older_posts.njk" %}